.home-wrapper {
  padding: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.home-dashboard {
  width: 100%;
  flex: 1;
  display: flex;
  gap: 30px;
}

.home-charts-wrapper {
  width: 76%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.home-charts-wrapper > .activity-chart {
  flex: 0 0 50%;
}

.bottom-charts-wrapper {
  flex: 1 1 50%;
  display: flex;
  gap: 30px;
}

.bottom-charts-wrapper > * {
  flex: 1;
  height: 100%;
}
