.activity-chart {
  background-color: #fbfbfb;
  border-radius: 5px;
}

.activity-chart__header {
  padding: 25px 24px 0px 24px;
  position: absolute;
}

.activity-chart__header h2 {
  font-size: 15px;
}

.activity-chart__legend {
  display: flex;
  gap: 32px;
  list-style: none;
}

.activity-chart__legend li {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #74798c;
}

.activity-chart__legend span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.black {
  background-color: #282d30;
}
.red {
  background-color: #e60000;
}

.LegendWrapper {
  color: #74798c;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  position: absolute;
  right: 25px;
  bottom: 45px;
}

.LegendPoids,
.LegendCalories {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 24px;
}
.LegendCalories {
  margin-left: 30px;
}
.LegendCircle {
  border-radius: 100px;
  width: 8px;
  height: 8px;
  margin-right: 10px;
}
