.greeting {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.greeting-title {
  font-size: 48px;
  font-weight: 500;
}

.greeting-title span {
  color: #ff0101;
}

.greeting-subtitle {
  font-size: 18px;
}
