:root {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.layout {
  display: flex;
  height: calc(100vh - 90px);
}
